<p>{{[hero.name , hero.id]}}</p>
<h2>{{hero.name | uppercase}} Details</h2>
<div>
    <label for="new-hero">Hero name </label>
    <input id="new-hero" #heroName/>
    <button (click)="add(heroName.value); heroName.value=''">add hero</button>
</div>
<div>
    <label for="name">Hero name :</label>
    <input id="name" name="name" [(ngModel)]="hero.name" placeholder="name">
</div>
<h2>My Heroes</h2>
<ul  class="heroes">

    <li *ngFor="let hero of heroes" >
        <a  routerLink="/detail/{{hero.id}}">
        <span class="badge">{{hero.id}}</span> {{hero.name}}</a>
        <button class="delete" (click)="delete(hero)">X</button>
    </li>
     
</ul>
<!-- <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->
